@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$main-font: "Raleway", sans-serif;

$color-primary: #C73E1D;
$color-secondary: #1d80c7;
$color-white: #F3F6CD;
$color-black: #393E41;