@use 'partials/variables' as var;

footer{
    background-color: var.$color-secondary;
    color: var.$color-white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 2rem 1rem;

    @media screen and (min-width:1024px) {
        gap: 6rem;
        padding: 3rem 6rem;
    }

    a{
        color: var.$color-white;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }

        &:active{
            text-decoration: underline;
        }
    }

    svg{
        cursor: pointer;
        transition: .3s;

        &:hover{
            transform:  rotate(-4deg) scale(.9);
        }
    }

    ul{
        display: grid;
        gap: .5rem;

        &.navs__container{
            gap: 1rem;
            
            li{
                border-bottom: .1rem solid var.$color-white;
                padding: 0 0 1rem 0;
                                
                >a{
                    font-size: 1.4rem;
                    letter-spacing: .5;
                }
                
                ul{
                    display: none;

                    @media screen and (min-width: 1024px) {
                        display: grid;
                    }
                }
            }
        }
    }

    .footerTopRow{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;

        @media screen and (min-width:1024px) {
            gap: 4rem;
            grid-template-columns: 20% 50% 30%;

            .navs__container{
                gap: 4rem;
                grid-template-columns: repeat(3, 1fr);

                li{
                    border: none;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    a{
                        font-weight: 700;
                    }
                    
                    ul{
                        li{
                            a{
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }

        .infos{
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        .contact{
            display: grid;
            gap: .8rem;
    
            p{
                letter-spacing: 1;
            }
    
            .adress{
                display: grid;
                gap: .2rem;
            }
        }
    }

    .footerMiddleRow{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;

        @media screen and (min-width:1024px) {
            grid-template-columns: 76% 34%;
        }

        .infolettre{
            display: grid;
            gap: .5rem;
    
            p{
                font-weight: 500;
                letter-spacing: 1;
            }
    
            input{
                background-color: var.$color-white;
                border: none;
                border-radius: .4rem;
                height: 2rem;
                max-width: 320px;
            }
        }
    
        .socials{
            display: grid;
            gap: 1rem;
    
            .icons__container{
                align-items: center;
                display: flex;
                gap: 3rem;
            }
        }
    }

    .politiques{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }
}